.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_store
UrbanGrasslandAllergens.Rproj
results/*.pdf
results/*.png
results/*.csv
results/*.Rdata
*.aux
*.html
*.knit.md
*.log
*.nb.html
*.out
*.pdf
*.tex
UrbanAllergensAnalyses.utf8.md
UrbanAllergensAnalyses_cache
